
<h3 class="text-center mt-5">How to use the app</h3>
<p class="text-center">Tap or click the different colours to get a "piano-like" sound</p>

<div class="row">
  <div class="col lg-4">
  <div class="list-group">
  <a (click)="aplicarSonido(1)" class="list-group-item list-group-item-action" style="background-color: yellow"></a>
  <a (click)="aplicarSonido(2)" class="list-group-item list-group-item-action" style="background-color: orange"></a>
  <a (click)="aplicarSonido(3)" class="list-group-item list-group-item-action" style="background-color: green"></a>
  <a (click)="aplicarSonido(4)" class="list-group-item list-group-item-action" style="background-color: red"></a>
  <a (click)="aplicarSonido(5)" class="list-group-item list-group-item-action" style="background-color: teal"></a>
  <a (click)="aplicarSonido(6)" class="list-group-item list-group-item-action" style="background-color: blue"></a>
  <a (click)="aplicarSonido(7)" class="list-group-item list-group-item-action" style="background-color: purple"></a>
  <!-- <a href="#" class="list-group-item list-group-item-action list-group-item-dark">A simple dark list group item</a> -->
</div>
  </div>
</div>




<!-- <audio controls>
  <source  src="./assets/sonidos/note1.wav"/>
</audio> -->